:root {
    --background: rgba(0, 0, 255, 0.378);
    --text: wheat;
    --white: white;
    --additional: rgba(202, 173, 230, 0.47);
}

body{
    background-color: var(--text);
}

header{
    background-color:peachpuff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: var(--background);
    color: var(--white);
    padding: 20px;
    margin: 10px;
    border: 5px inset var(--white);
}

main{
    display: flex;
    
}

#search-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10px;
    
}

input{
    background-color: var(--white);
    border-radius: 10px;
    padding: 15px;
}

button{
    background-color: var(--additional);
    padding: 5px;
    border-radius: 7px;
}

button:hover{
    background-color: rgba(182, 116, 194, 0.489);
}

.weather-section{
    border: 2px solid var(--background);
    width: 100%;
    padding: 15px;
}

.hidden {
    display: none;
}

.buttonAppend {
    display: flex;
    flex-direction: column;
}

.p-3 {
    background-color: var(--additional);
    border: 2px solid var(--background);
}

.col {
    padding-left: 0;
    padding-right: 10px;
}