:root {
    --background: blue;
    --text: wheat;
    --white: white;
    --additional: lightblue;
}

body{
    background-color: var(--text);
}

header{
    background-color:peachpuff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: var(--background);
    color: var(--additional);
    padding: 20px;
    margin: 10px;
    border: 5px inset var(--additional);
}

